

body {
  background: #f6f8fb;
}
.container {
  max-width: 1200px;
}
.card-scroll {
  max-height: 60vh;
  overflow: auto;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
